<?xml version='1.0' encoding='utf-8'?>
<!--Android-->
<!--<widget id="fmelterme.igorisoftware.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">-->
<!--IOS-->
<widget id="com.igorisoftware.elterme" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Festa Major del Terme</name>
    <description>
        Aplicació oficial de la Festa Major del Terme.
    </description>
    <author email="info@igorisoftware.com" href="http://igorisoftware.com/">
        IgoriSoftware
    </author>

    <content src="index.html" />
    
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreenDelay" value="0" />
    
   <feature name="Share" >
        <param name="android-package" value="nl.madebymark.share.Share"/>
    </feature>          
    <feature name="Share">
        <param name="ios-package" value="MMShare" /> 
    </feature>    
    <gap:plugin name="nl.madebymark.share" />
<!--    <gap:plugin name="org.apache.cordova.inappbrowser" />-->
    
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173-tile.png" />
    
    
    
    
    <!-- iPhone and iPod touch -->
<gap:splash src="res/screen/ios/320-480t.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="res/screen/ios/640-960.png" gap:platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
<gap:splash src="res/screen/ios/640-1136.png" gap:platform="ios" width="640" height="1136" />

<!-- iPhone 6 -->
<gap:splash src="res/screen/ios/750-1334.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="res/screen/ios/1242-2208.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="res/screen/ios/2208-1242.png" gap:platform="ios" width="2208" height="1242" />

<!-- iPad -->
<gap:splash src="res/screen/ios/768-1024.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="res/screen/ios/1024-768.png" gap:platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
<gap:splash src="res/screen/ios/1536-2048.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="res/screen/ios/2048-1536.png" gap:platform="ios" width="2048" height="1536" />
    <!-- for iOS -->


</widget>
